.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.avatar {
  position: relative;
  width: 150px;
  height: 150px;
  clip-path: circle(50% at 50% 50%);
}

.title {
  font-weight: 700;
}

.gotoUsers {
  border-bottom: 1px solid var(--orange);
}
